body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

/* Navigation bar */
nav {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0;
    z-index: 999;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    display: inline-block;
    border: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #c45b90;
    text-decoration: none;
}

nav li:hover {
    color: #fff; 
    background-color:#ecba6a;
    text-decoration: underline;
}

#content {
    position: absolute;
    top: 90px;
    width: 100%;
}

/* Music Player */
.music-player {
    background-color: #fff; 
    width: 40%; 
    display: inline-block;
    height: 300px; 
    vertical-align: top
}

.music-info {
    text-align:center;
    border: 8px solid #ecba6a;
    border-radius: 15px; 
    margin: 55px 0px;
}

.music-info ul {
    list-style: none;
    padding: 0;
    margin: 10px 10px;
}

.music-info ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.music-info a {
    text-decoration: none;
    color: #000;
    background-color: #ecba6a;
}

.music-info a:hover {
    text-decoration:underline;
    color:#0d4ba1;
}

.music-info p {
    color:#2a2b2c;
    font-size: 12px;
}

/* Banner */
.banner {
    width: 59%; 
    display:inline-block; 
    position:relative; 
    background-image:url('banner.png'); 
    color: #fff;
    height: 300px;
}

.banner h1 {
    font-size: 60px;
    margin: 160px 0px;
    color: #fff;
    opacity: 0.7;
    font-family: 'Courier New', monospace;
}

/* Sign Up Section */
.signup {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

.signup form {
    display: inline-block;
    position: relative;
    text-align: left;
}

.signup label {
    display: block;
    margin: 10px 0;
}

.signup input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.signup p {
    font-size: 10px;
    color: #504a4d;
}

.signup button {
    padding: 10px 20px;
    background-color: #d89c9c;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup button:hover {
    background-color: #ecba6a;
}

/* Trial service button */
.trial_serv {
    background-color: #f3f3f3;
}

.trial_serv button {
    padding: 10px 20px 10px 20px;
    margin: 20px;
    background-color: #d89c9c;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trial_serv button:hover {
    background-color: #ecba6a;
}

/* Floating Logo */
.logo {
    position: fixed;
    top: 450px;
    right: 20px;
}

.logo a {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-size: cover;
    text-indent: -9999px;
}

.logo1 {
    background-image: url('logo.png');
    background-color: transparent;
}

/* Footer */
footer {
    background-color: #fce2c2;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

.social-icons img {
    width: 33px;
    height: 30px;
    margin: 0 10px;
}

/* shows table */
table, td, th {
    border: 1px solid;
    margin: auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    text-align: center;
}

table th{
    font-size:20px;
}

table caption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    font-size:30px;
    padding: 20px;
    font-style: italic;
    background-color: #ecba6a;
    color:#c45b90;
}

tr:nth-child(even) {
    background-color: #ecba6a;
}

/* Reviews */
.reviews {
    width: 90%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
}

.review-block {
    text-align: left;
    background-color: #ecba6a;
    padding: 15px;
    margin-bottom: 20px; 
    border-radius: 10px; 
}

.reviews p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
}

.reviews h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    font-size:30px;
    padding: 0px 20px 20px 20px;
    font-style: italic;
    color:#c45b90;
}